main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1.5em;

    .status {
        display: flex;
        flex-direction: column;
        background: #ddda;
        min-width: 300px;
        width: calc(30% - 2.5em);
        padding: .5em 1em;
        border-radius: 5px;
        
        h2 {
            font-family: 'Poppins-Bold';
            margin: 10px 0 20px;
        }

        .content {
            list-style: none;

            li {
                display: flex;
                flex-direction: row;
                font-family: 'SourceSansPro-SemiBold';

                span {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    font-family: 'SourceSansPro-Light';
                    font-size: .9rem;
                    top: 2px;
                    left: 5px;
                }

                &.online-status span {
                    left: 0;

                    &::before {
                        position: relative;
                        top: 5px;
                        margin: 0 4px;
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }

                    &.online::before {
                        background: #7e5;
                    }

                    &.outline::before {
                        background: #f24e;
                    }
                }
            }
        }
    }

    .container {
        border: 1px solid var(--grey-3);
        border-radius: 5px;
        overflow: hidden;
        width: calc(70% - .5em);

        .header-infos {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 3em;
            background: var(--primary-color);

            .folder-opened {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: calc(100% - 40px);
                padding: 5px 8px;
                pointer-events: none;

                .icon {
                    display: block;
                    width: 25px;
                    height: 25px;
                    position: relative;
                    padding: 0 4px;
                    
                    img {
                        width: unquote("min(28px, 100%)");
                        height: unquote("min(28px, 100%)");
                        object-fit: contain;
                        filter: invert(1) brightness(.95);

                        &:first-child {
                            position: absolute;
                            filter: invert(1) brightness(.95) opacity(40%);
                            transform: scale(.9);
                            top: -2px;
                            left: 5px;
                        }
                    }
                }

                .name {
                    margin: 0 5px;
                    padding-left: 5px;
                    font-family: 'Poppins-Light';
                    color: var(--white);
                }
            }

            .actions {
                position: relative;
                left: 8px;

                .action-btn {
                    height: 38px;
                    cursor: pointer;

                    .icon {
                        writing-mode: vertical-lr;
                        text-align: center;
                        height: 100%;
                        font-size: 2.2rem;
                        letter-spacing: 1px;
                        color: var(--white);
                        pointer-events: none;
                    }
                }
            }
        }

        form {
            position: relative;

            .content {
                background: var(--white);
                width: 100%;
                border: none;
                
                thead tr {
                    height: 36px;
    
                    th {
                        position: relative;
                        font-family: 'SourceSansPro-SemiBold';
                        font-size: 1.1rem;
                        color: var(--black-3);
                        border-right: 1px solid var(--grey-1);
                        height: calc(1.1rem + 5px);
                        margin: -1px;
    
                        &.select-all {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 22px;
                            height: 36px;
                            padding: 0 15px;
                        }
    
                        &:first-child, &:last-child {
                            border-right: none;
                        }
                    }
                }
    
                tbody tr {
                    td {
                        position: relative;
                        padding: 10px 0;
                        font-family: 'SourceSansPro-Regular';
                        font-size: 16px;
                        color: var(--grey-8);
                        
                        &.selector {
                            text-align: left;
                            padding: 0 10px;
                            width: 22px;
    
                            .checkbox {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                height: 24px;
                            }
                        }

                        &.filename, &.type {
                            text-align: left;
                            padding-left: 20px;
                        }
                        
                        &.last-modification, &.size {
                            text-align: center;
                        }
    
                        &::after {
                            content: '';
                            display: block;
                            height: calc(100% + 2px);
                            width: 1px;
                            background: var(--grey-1);
                            position: absolute;
                            top: -1px;
                            right: 0;
                        }
    
                        &:first-child::after,
                        &:last-child::after {
                            display: none;
                        }
                    }
    
                    &.selected td {background: #dddd;}
                }
    
                tr {
                    width: 100%;
                    text-align: center;
                }
    
                input[type="checkbox"] {
                    appearance: none;
                    display: block;
                    width: 18px;
                    height: 18px;
                    border: 1px solid var(--secondary-color);
                    border-radius: 9px;
                    background: transparent;
                    cursor: pointer;
                    transition: all 150ms;
    
                    &:hover {
                        background: #37e7;
                    }
    
                    &:checked {
                        background: var(--secondary-color);
                    }
    
                    &::after, &::before {
                        content: '';
                        display: block;
                        height: 2px;
                        background: var(--white);
                        position: relative;
                        border-radius: 1px;
                    }
    
                    &::before {
                        top: 10px;
                        left: 1px;
                        transform: rotate(45deg);
                        width: 7px;
                    }
    
                    &::after {
                        top: 5px;
                        left: 3.5px;
                        transform: rotate(305deg);
                        width: 12px;
                    }
                }
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background: var(--white-3);
                top: 37px;
            }
        }
    }
}
