body {
    background: var(--background-theme);
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    z-index: 2;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        margin: 0;

        &.title {
            height: calc(100vh - 100px);
            overflow: hidden;
            
            .backdrop {
                position: absolute;
                z-index: 0;
                transform: scale(1, 115%);
                width: 100%;
                height: 100%;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: opacity(80%) sepia(45%);
                    user-select: none;
                    pointer-events: none;
                }
            }

            .container {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 100%;
                z-index: 1;

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                    background: var(--white);
                    padding: 2em 3em;
                    min-height: 150px;
                    border-radius: 0 1rem 1rem 0;
                    box-shadow: 1px 1px 2px #aaa7;

                    .title-box {
                        h1 {
                            color: var(--black-2);
                            font-size: 3rem;
                            font-family: 'Poppins-Regular';
    
                            &::after {
                                content: '';
                                display: block;
                                cursor: pointer;
                                position: relative;
                                top: -5px;
                                left: 2px;
                                width: 41px;
                                height: 3px;
                                background: #25d;
                                border-radius: 2px;
                                transition: all .6s ease;
                            }
                            
                            > span {
                                transition: all .6s ease;

                                span {
                                    color: #25d;
                                    font-size: 3.6rem;
                                    font-family: 'Poppins-Bold', 'SourceSansPro-Bold', sans-serif;
                                }
                            }
                        }
    
                        p {
                            position: relative;
                            top: 2px;
                            padding-left: 4px;
                            font-family: 'SourceSansPro-Light';
                            color: var(--secondary-color);
                        }
                    }

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        height: 100%;
                        background: var(--white-3);
                        z-index: -1;
                        border-radius: 0 1rem 1rem 0;
                        animation: title-shadow 1.5s ease forwards;
                        box-shadow: inset -5px -5px 10px #3332;
                        transition: all .4s ease;
                    }

                    &:hover {
                        .title-box h1 {
                            &::after {
                                width: calc(50% + 5px);
                            }

                            > span {
                                color: #25d;
                            }
                        }

                        &::before {
                            box-shadow: inset -5px -5px 15px #3333;
                        }
                    }
                }

                .btn-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: calc(60% - 8em);

                    button {
                        position: relative;
                        border: none;
                        background: var(--primary-color);
                        min-width: 10em;
                        padding: 1em 2em;
                        color: var(--black-3);
                        border-radius: 3px;
                        transition: all .4s;
                        font-family: 'Poppins-SemiBold';
                        font-size: .9rem;
                        cursor: pointer;
                        opacity: 1;
                        left: 0;
                        user-select: none;

                        &::after {
                            content: '>';
                            position: relative;
                            top: 1px;
                            left: 10px;
                            font-size: 1.1rem;
                        }

                        &:hover, &:focus {
                            opacity: .9;
                            left: 3px;
                            color: var(--grey-8);
                        }
                    }
                }
            }
        }

        &.offers {
            min-height: calc(50% + 5em);
            height: auto;

            .description {
                display: block;
                width: 100%;
                height: auto;
                padding: 2em 1em;
                margin-bottom: 4em;
                text-align: center;
                
                h2 {
                    font-size: 2rem;
                    font-family: 'SourceSansPro-SemiBold', sans-serif;
                }

                p {
                    padding: 0 2em;
                    font-family: 'SourceSansPro-Light';
                }
            }
            
            .container {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                gap: 20px;
                min-height: 21.5em;
                height: calc(max(50%, auto) + 1em);
                
                .box {
                    background: var(--white);
                    min-width: 10em;
                    width: calc(max(25%, 20em) - 4em);
                    min-height: 21em;
                    height: 100%;
                    max-height: 25em;
                    border-radius: 3px;
                    position: relative;
                    bottom: 0;
                    transition: all 250ms ease;
                    padding: 0 2em;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    box-shadow: 5px 5px 10px 3px var(--white-2),
                                0 0 8px 5px #dddd;

                    h3 {
                        position: relative;
                        top: 5px;
                        font-size: 2rem;
                        font-family: 'SourceSansPro-SemiBold';
                    }

                    ul {
                        list-style: none;
                        user-select: none;

                        li {
                            position: relative;
                            margin: 5px 0;
                            font-family: 'SourceSansPro-Light';
                            left: 5px;

                            &::before {
                                position: relative;
                                top: 6px;
                                z-index: 2;
                                right: 5px;
                                filter: contrast(0) brightness(2);
                            }

                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 22px;
                                height: 22px;
                                border-radius: 50%;
                                top: 7px;
                                left: -4px;
                            }

                            &.enable {
                                &::before { content: url(../images/valid-24.svg) }
                                &::after { background: #8d6 }
                            }

                            &.disable {
                                &::before { content: url(../images/invalid-24.svg) }
                                &::after { background: #f24e }
                            }
                        }
                    }

                    .price {
                        font-family: 'Poppins-Light';
                        font-size: .9rem;
                        position: relative;
                        left: 5px;
                        top: -.5rem;
                        user-select: none;

                        > span {
                            padding-left: .3em;
                            font-family: 'Poppins-Regular';
                            color: var(--secondary-color);

                            span {
                                font-family: 'SourceSansPro-SemiBold';
                                font-size: 2.5rem;
                            }
                        }
                    }

                    .link {
                        display: inline-flex;
                        justify-content: center;
                        width: 100%;
                        height: 40px;

                        button {
                            outline: none;
                            background: var(--primary-color);
                            width: 100px;
                            height: 100%;
                            border: none;
                            color: var(--black-3);
                            font-family: 'Poppins-SemiBold';
                            border-radius: 4px;
                            cursor: pointer;
                            transition: all .3s;
                            opacity: .9;
                            user-select: none;

                            &:hover, &:focus {
                                opacity: 75%;
                            }

                            &::after {
                                content: '>';
                            }
                        }
                    }

                    &.best {
                        border: medium solid var(--primary-color);
                        bottom: 20px;

                        &::after {
                            content: 'Meilleure offre';
                            position: absolute;
                            top: -1px;
                            right: 14px;
                            background: var(--primary-color);
                            padding: 5px 8px;
                            border-radius: 0 0 4px 4px;
                            font-family: 'SourceSansPro-Regular';
                            color: var(--white);
                        }

                        @media screen and (max-width: 1006px) {
                            bottom: 0;
                        }
                    }

                    &:hover {
                        bottom: 10px;
                        box-shadow: 5px 5px 10px 3px var(--white-3);

                        &:is(.best) {
                            bottom: 30px;

                            @media screen and (max-width: 1006px) {
                                bottom: 10px;
                            }
                        }
                    }
                }
            }
        }

        &.others {
            height: 100vh;
        }
    }
}

@keyframes title-shadow {
    from {
        top: 0;
        width: calc(40%);
        transform: scale(1);
    }

    to {
        top: 15px;
        width: calc(40% + 7.5em);
        transform: scale(101%);
    }
}
