body, main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  --circle-space: 3em;
  background: var(--white);
}
main .container {
  height: 100%;
  width: 100vw;
}
main .container > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
main .container > div > div {
  position: relative;
  z-index: 2;
}
main .container > div > div.form {
  width: calc(50% + var(--circle-space));
  transition: all 0.7s ease;
  transition-delay: 0.462s;
}
main .container > div > div.form .circle {
  position: fixed;
  bottom: 0;
  width: 30vh;
  height: 30vh;
  background: var(--primary-color);
  opacity: 0.88;
  transition: all 0.7s ease;
}
main .container > div > div.form .form-container {
  position: relative;
  width: 100%;
}
main .container > div > div.form .form-container h1 {
  font-family: "Poppins-Bold";
  margin-bottom: 0.6em;
  color: var(--black-2);
}
main .container > div > div.form .form-container .form-content {
  gap: 4px;
}
main .container > div > div.form .form-container .form-content .input-box {
  width: 250px;
  height: 44px;
  background: var(--white);
  border: 2px solid var(--grey-3);
  border-radius: 5px;
  position: relative;
  margin: 10px 0;
  transition: all 0.4s;
}
main .container > div > div.form .form-container .form-content .input-box input {
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  font-family: "SourceSansPro-Regular";
  width: calc(100% - 20px);
  height: 100%;
  padding: 0 10px;
  transform: translateY(-3px);
  color: var(--black-3);
}
main .container > div > div.form .form-container .form-content .input-box input::-moz-placeholder {
  color: transparent;
  font-family: "SourceSansPro-Light";
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -moz-user-select: none;
       user-select: none;
}
main .container > div > div.form .form-container .form-content .input-box input:-ms-input-placeholder {
  color: transparent;
  font-family: "SourceSansPro-Light";
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  -ms-user-select: none;
      user-select: none;
}
main .container > div > div.form .form-container .form-content .input-box input::placeholder {
  color: transparent;
  font-family: "SourceSansPro-Light";
  transition: all 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .container > div > div.form .form-container .form-content .input-box label {
  position: absolute;
  left: 5px;
  padding: 2px 3px;
  transition: all 0.4s ease;
  cursor: text;
  color: var(--grey-7);
  background: var(--white);
  transition: all 0.4s ease;
  font-family: "SourceSansPro-Regular";
  /* Hide by default */
  animation: input-animate 0.4s ease reverse;
  top: 8px;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .container > div > div.form .form-container .form-content .input-box:hover {
  border: 2px solid var(--black-3);
}
main .container > div > div.form .form-container .form-content .input-box.input-password .password-visibility {
  position: absolute;
  right: 10px;
  border: none;
  outline: none;
  background: none;
  transition: all 0.4s linear;
  opacity: 0;
  cursor: pointer;
  height: 20px;
}
main .container > div > div.form .form-container .form-content .input-box.input-password .password-visibility img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .container > div > div.form .form-container .form-content .input-box.focused, main .container > div > div.form .form-container .form-content .input-box.complete {
  border: 2px solid var(--secondary-color);
}
main .container > div > div.form .form-container .form-content .input-box.focused input::-moz-placeholder, main .container > div > div.form .form-container .form-content .input-box.complete input::-moz-placeholder {
  color: var(--grey-3);
}
main .container > div > div.form .form-container .form-content .input-box.focused input:-ms-input-placeholder, main .container > div > div.form .form-container .form-content .input-box.complete input:-ms-input-placeholder {
  color: var(--grey-3);
}
main .container > div > div.form .form-container .form-content .input-box.focused input::placeholder, main .container > div > div.form .form-container .form-content .input-box.complete input::placeholder {
  color: var(--grey-3);
}
main .container > div > div.form .form-container .form-content .input-box.focused label, main .container > div > div.form .form-container .form-content .input-box.complete label {
  /* Show input */
  -webkit-animation: input-animate 0.4s ease;
          animation: input-animate 0.4s ease;
  color: var(--secondary-color);
  top: -12px;
  font-size: 0.9rem;
}
main .container > div > div.form .form-container .form-content .input-box.focused .password-visibility, main .container > div > div.form .form-container .form-content .input-box.complete .password-visibility {
  opacity: 0.5;
  pointer-events: initial;
}
main .container > div > div.form .form-container .form-content .input-box.focused .password-visibility:hover, main .container > div > div.form .form-container .form-content .input-box.focused .password-visibility:focus, main .container > div > div.form .form-container .form-content .input-box.complete .password-visibility:hover, main .container > div > div.form .form-container .form-content .input-box.complete .password-visibility:focus {
  opacity: 85%;
}
@-webkit-keyframes input-animate {
  from {
    top: 8px;
    font-size: 1rem;
  }
  to {
    top: -12px;
    font-size: 0.9rem;
  }
}
@keyframes input-animate {
  from {
    top: 8px;
    font-size: 1rem;
  }
  to {
    top: -12px;
    font-size: 0.9rem;
  }
}
main .container > div > div.form .form-container .form-content .checkbox-option {
  width: 100%;
  height: 30px;
  margin: 0.5em;
}
main .container > div > div.form .form-container .form-content .checkbox-option input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  outline: none;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background: var(--white-2);
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  box-shadow: 2px -2px 1px var(--white-3);
}
main .container > div > div.form .form-container .form-content .checkbox-option input::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 0;
  height: 100%;
  background: rgba(51, 119, 238, 0.7333333333);
  transition: all 0.4s ease-in-out;
}
main .container > div > div.form .form-container .form-content .checkbox-option input::after {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--white);
  left: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0.8);
}
main .container > div > div.form .form-container .form-content .checkbox-option input:checked {
  background: var(--white-1);
}
main .container > div > div.form .form-container .form-content .checkbox-option input:checked::before {
  width: 100%;
}
main .container > div > div.form .form-container .form-content .checkbox-option input:checked::after {
  left: 20px;
}
main .container > div > div.form .form-container .form-content .checkbox-option input:hover, main .container > div > div.form .form-container .form-content .checkbox-option input:focus {
  box-shadow: 2px -2px 1px var(--grey-1);
}
main .container > div > div.form .form-container .form-content .checkbox-option label {
  margin-left: 4px;
  font-family: "Poppins-Light";
  font-size: 0.9rem;
  transform: translateY(1px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .container > div > div.form .form-container .form-content .checkbox-option label a {
  cursor: help;
  font-family: "Arial";
  text-decoration: none;
  color: var(--secondary-color);
}
main .container > div > div.form .form-container .form-content .checkbox-option label a::after {
  content: var(--c);
  display: block;
  position: absolute;
  top: calc(1rem - 1px);
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: transparent;
  height: 1px;
  opacity: 0;
  background: var(--secondary-color);
  transition: all 0.4s ease;
}
main .container > div > div.form .form-container .form-content .checkbox-option label a:hover::after {
  opacity: 1;
}
main .container > div > div.form .form-container .form-content .submit-btn {
  border: none;
  outline: none;
  background: var(--secondary-color);
  width: 124px;
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
  position: relative;
  margin-top: 0.8em;
  box-shadow: 3px -3px rgba(51, 119, 238, 0.6);
  transition: all 0.4s ease;
}
main .container > div > div.form .form-container .form-content .submit-btn .submit-content {
  color: var(--white);
  font-size: 1rem;
  font-family: "SourceSansPro-Bold";
  pointer-events: none;
}
main .container > div > div.form .form-container .form-content .submit-btn .loading {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
}
main .container > div > div.form .form-container .form-content .submit-btn.submit {
  cursor: progress;
}
main .container > div > div.form .form-container .form-content .submit-btn.submit .submit-content {
  display: none;
}
main .container > div > div.form .form-container .form-content .submit-btn.submit .loading {
  display: flex;
}
main .container > div > div.form .form-container .form-content .submit-btn.submit .loading img {
  position: absolute;
  width: 25px;
  -webkit-animation: loading-animation 0.7s cubic-bezier(0.45, 0.155, 0.7, 1) infinite;
          animation: loading-animation 0.7s cubic-bezier(0.45, 0.155, 0.7, 1) infinite;
}
main .container > div > div.form .form-container .form-content .submit-btn.submit .loading img:nth-child(2) {
  -webkit-animation-delay: 135ms;
          animation-delay: 135ms;
}
@-webkit-keyframes loading-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
main .container > div > div.form .form-container .form-content .submit-btn::after {
  position: absolute;
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  left: -102%;
  pointer-events: none;
  transition: all 0.6s ease;
  transform: scale(102%);
}
main .container > div > div.form .form-container .form-content .submit-btn.submit, main .container > div > div.form .form-container .form-content .submit-btn:hover, main .container > div > div.form .form-container .form-content .submit-btn:focus {
  box-shadow: 3px -3px rgba(51, 119, 238, 0.3333333333);
}
main .container > div > div.form .form-container .form-content .submit-btn.submit::after, main .container > div > div.form .form-container .form-content .submit-btn:hover::after, main .container > div > div.form .form-container .form-content .submit-btn:focus::after {
  left: 0;
}
main .container > div > div.alternative {
  height: calc(90% - var(--circle-space));
  width: calc(45% - var(--circle-space));
}
main .container > div > div.alternative .content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  margin-bottom: 2em;
  gap: 5px;
  text-align: center;
}
main .container > div > div.alternative .content p {
  font-family: "Poppins-Regular";
  font-size: 1.1rem;
  color: var(--white);
  text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.4);
}
main .container > div > div.alternative .content button {
  margin-top: 1em;
  border: 3px solid var(--white);
  background: transparent;
  font-family: "SourceSansPro-SemiBold";
  font-size: 1rem;
  color: var(--white);
  width: 120px;
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
}
main .container > div > div.alternative .content button:hover, main .container > div > div.alternative .content button:focus {
  background: var(--white);
  color: var(--primary-color);
}
main .container > div.login {
  z-index: initial;
}
main .container > div.login > div {
  opacity: 1;
}
main .container > div.login > div.form {
  left: 0;
}
main .container > div.login > div.form .circle {
  left: 0;
  border-radius: 0 100% 0 0;
  box-shadow: 0 -5px 15px 15px var(--white-1);
}
main .container > div.login > div.alternative {
  transition: 0.5s ease 350ms;
  right: 0;
  visibility: visible;
  opacity: 1;
}
main .container > div.register {
  z-index: -1;
}
main .container > div.register > div {
  opacity: 0;
}
main .container > div.register > div.form {
  left: -all 0.7s;
}
main .container > div.register > div.form .circle {
  right: -30vh;
  border-radius: 100% 0 0 0;
  box-shadow: 8px -5px 15px 15px var(--white-1);
}
main .container > div.register > div.alternative {
  transition: 0.5s ease;
  left: 6%;
  visibility: hidden;
  opacity: 0;
}
main .cache {
  position: fixed;
  background: radial-gradient(circle at center, var(--primary-color) 0%, #fe8 85%);
  top: -100%;
  right: calc(-50% + var(--circle-space));
  width: calc(200vh - var(--circle-space));
  height: calc(200vh - var(--circle-space));
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) all 0.7s;
  border-radius: 50%;
  z-index: 1;
  box-shadow: -25px 20px 10px rgba(238, 238, 238, 0.5333333333);
}
main.register .container > div.login {
  z-index: -1;
}
main.register .container > div.login > div {
  opacity: 0;
}
main.register .container > div.login > div.form .circle {
  left: -30vh;
}
main.register .container > div.login > div.alternative {
  transition: 0.5s ease;
  right: 6%;
  visibility: hidden;
}
main.register .container > div.register {
  z-index: initial;
}
main.register .container > div.register > div {
  opacity: 1;
}
main.register .container > div.register > div.form .circle {
  right: 0;
}
main.register .container > div.register > div.alternative {
  transition: 0.5s ease 350ms;
  left: initial;
  visibility: visible;
}
main.register .cache {
  right: calc(50% - var(--circle-space));
  box-shadow: 25px 20px 10px rgba(238, 238, 238, 0.5333333333);
}
@media only screen and (max-width: 750px) {
  main {
    overflow: none;
  }
  main .container > div {
    flex-direction: column-reverse !important;
  }
  main .container > div > div {
    width: 100% !important;
  }
  main .container > div > div.form {
    height: calc(100% - 5em);
  }
  main .container > div > div.form .circle {
    display: none;
  }
  main .container > div.login .alternative {
    height: 7.5em;
  }
  main .container > div.login .alternative .content {
    padding-top: 1rem;
  }
  main .container > div.register {
    flex-direction: column !important;
  }
  main .container > div.register .alternative {
    height: 7.5em;
  }
  main .container > div.register .alternative .content {
    position: fixed;
    bottom: -1rem;
  }
  main .cache {
    top: calc(-200vh + 10em);
    left: -100vh;
    transform: translateX(57.5vw);
  }
  main.register .cache {
    top: calc(100vh - 10em + 1rem);
  }
}/*# sourceMappingURL=login.css.map */