main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

main div {
  height: 100%;
}

main div.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
}

main div.forms > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 50%;
  -webkit-transition: ease-out all 0.7s;
  transition: ease-out all 0.7s;
}

main div.forms > div .circle {
  position: fixed;
  display: block;
  bottom: 0;
  width: 30vh;
  height: 30vh;
  background: var(--primary-color);
  opacity: .88;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

main div.forms > div .alternative {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: 50%;
}

main div.forms > div .alternative .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  margin-bottom: 2em;
  gap: 5px;
  text-align: center;
}

main div.forms > div .alternative .content p {
  font-family: 'Poppins-Regular';
  font-size: 1.1rem;
  color: var(--white);
  text-shadow: 3px 3px 2px #fff6;
}

main div.forms > div .alternative .content button {
  margin-top: 1em;
  border: 3px solid var(--white);
  background: transparent;
  font-family: 'SourceSansPro-SemiBold';
  font-size: 1rem;
  color: var(--white);
  width: 120px;
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
}

main div.forms > div .alternative .content button:hover, main div.forms > div .alternative .content button:focus {
  opacity: 75%;
}

main div.forms > div .form-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  left: 0;
  opacity: 1;
  -webkit-transition: ease-out all 0.7s;
  transition: ease-out all 0.7s;
}

main div.forms > div .form-container h1 {
  font-family: 'Poppins-Bold';
  margin-bottom: .6em;
  color: var(--black-2);
}

main div.forms > div .form-container .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

main div.forms > div .form-container .form-content .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 44px;
  background: var(--white);
  border: 2px solid var(--grey-3);
  border-radius: 5px;
  position: relative;
  margin: 10px 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  /* Show input */
}

main div.forms > div .form-container .form-content .input-box input {
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  font-family: 'SourceSansPro-Regular';
  width: calc(100% - 20px);
  height: 100%;
  padding: 0 10px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: var(--black-3);
}

main div.forms > div .form-container .form-content .input-box input::-webkit-input-placeholder {
  color: transparent;
  font-family: 'SourceSansPro-Light';
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-user-select: none;
          user-select: none;
}

main div.forms > div .form-container .form-content .input-box input:-ms-input-placeholder {
  color: transparent;
  font-family: 'SourceSansPro-Light';
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -ms-user-select: none;
      user-select: none;
}

main div.forms > div .form-container .form-content .input-box input::-ms-input-placeholder {
  color: transparent;
  font-family: 'SourceSansPro-Light';
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -ms-user-select: none;
      user-select: none;
}

main div.forms > div .form-container .form-content .input-box input::placeholder {
  color: transparent;
  font-family: 'SourceSansPro-Light';
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main div.forms > div .form-container .form-content .input-box label {
  position: absolute;
  left: 5px;
  padding: 2px 3px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: text;
  color: var(--grey-7);
  background: var(--white);
  transition: all 0.4s ease;
  font-family: 'SourceSansPro-Regular';
  /* Default hide */
  animation: input-animate .4s ease reverse;
  top: 8px;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main div.forms > div .form-container .form-content .input-box:hover {
  border: 2px solid var(--black-3);
}

main div.forms > div .form-container .form-content .input-box.focused, main div.forms > div .form-container .form-content .input-box.complete {
  border: 2px solid var(--secondary-color);
}

main div.forms > div .form-container .form-content .input-box.focused input::-webkit-input-placeholder, main div.forms > div .form-container .form-content .input-box.complete input::-webkit-input-placeholder {
  color: var(--grey-3);
}

main div.forms > div .form-container .form-content .input-box.focused input:-ms-input-placeholder, main div.forms > div .form-container .form-content .input-box.complete input:-ms-input-placeholder {
  color: var(--grey-3);
}

main div.forms > div .form-container .form-content .input-box.focused input::-ms-input-placeholder, main div.forms > div .form-container .form-content .input-box.complete input::-ms-input-placeholder {
  color: var(--grey-3);
}

main div.forms > div .form-container .form-content .input-box.focused input::placeholder, main div.forms > div .form-container .form-content .input-box.complete input::placeholder {
  color: var(--grey-3);
}

main div.forms > div .form-container .form-content .input-box.focused label,
main div.forms > div .form-container .form-content .input-box.complete label {
  -webkit-animation: input-animate .4s ease;
          animation: input-animate .4s ease;
  color: var(--secondary-color);
  top: -12px;
  font-size: .9rem;
}

main div.forms > div .form-container .form-content .input-box.input-password .password-visibility {
  display: block;
  position: absolute;
  right: 10px;
  border: none;
  outline: none;
  background: none;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  height: 20px;
}

main div.forms > div .form-container .form-content .input-box.input-password .password-visibility img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main div.forms > div .form-container .form-content .input-box.input-password.focused .password-visibility,
main div.forms > div .form-container .form-content .input-box.input-password.complete .password-visibility {
  opacity: .5;
  pointer-events: initial;
}

main div.forms > div .form-container .form-content .input-box.input-password.focused .password-visibility:hover, main div.forms > div .form-container .form-content .input-box.input-password.focused .password-visibility:focus,
main div.forms > div .form-container .form-content .input-box.input-password.complete .password-visibility:hover,
main div.forms > div .form-container .form-content .input-box.input-password.complete .password-visibility:focus {
  opacity: 85%;
}

@-webkit-keyframes input-animate {
  from {
    top: 8px;
    font-size: 1rem;
  }
  to {
    top: -12px;
    font-size: .9rem;
  }
}

@keyframes input-animate {
  from {
    top: 8px;
    font-size: 1rem;
  }
  to {
    top: -12px;
    font-size: .9rem;
  }
}

main div.forms > div .form-container .form-content .remember-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  margin: .5em;
}

main div.forms > div .form-container .form-content .remember-me input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  position: relative;
  outline: none;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background: var(--white-2);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  -webkit-box-shadow: 2px -2px 1px var(--white-3);
          box-shadow: 2px -2px 1px var(--white-3);
}

main div.forms > div .form-container .form-content .remember-me input::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  width: 0;
  height: 100%;
  background: #37eb;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main div.forms > div .form-container .form-content .remember-me input::after {
  content: '';
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--white);
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(80%);
          transform: scale(80%);
}

main div.forms > div .form-container .form-content .remember-me input:checked {
  background: var(--white-1);
}

main div.forms > div .form-container .form-content .remember-me input:checked::before {
  width: 100%;
}

main div.forms > div .form-container .form-content .remember-me input:checked::after {
  left: 20px;
}

main div.forms > div .form-container .form-content .remember-me input:hover, main div.forms > div .form-container .form-content .remember-me input:focus {
  -webkit-box-shadow: 2px -2px 1px var(--grey-1);
          box-shadow: 2px -2px 1px var(--grey-1);
}

main div.forms > div .form-container .form-content .remember-me label {
  margin-left: 4px;
  font-family: 'Poppins-Light';
  font-size: .9rem;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main div.forms > div .form-container .form-content .remember-me label a {
  cursor: help;
  font-family: 'Arial';
  text-decoration: none;
  color: var(--secondary-color);
}

main div.forms > div .form-container .form-content .remember-me label a::after {
  content: var(--c);
  display: block;
  position: absolute;
  top: calc(1rem - 1px);
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: transparent;
  height: 1px;
  opacity: 0;
  background: var(--secondary-color);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

main div.forms > div .form-container .form-content .remember-me label a:hover::after {
  opacity: 1;
}

main div.forms > div .form-container .form-content .submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  background: var(--secondary-color);
  width: 124px;
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
  position: relative;
  margin-top: .8em;
  -webkit-box-shadow: 3px -3px #37e9;
          box-shadow: 3px -3px #37e9;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

main div.forms > div .form-container .form-content .submit-btn .submit-content {
  color: var(--white);
  font-size: 1rem;
  font-family: 'SourceSansPro-SemiBold';
  pointer-events: none;
}

main div.forms > div .form-container .form-content .submit-btn .loading {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
}

main div.forms > div .form-container .form-content .submit-btn.submit {
  cursor: progress;
}

main div.forms > div .form-container .form-content .submit-btn.submit .submit-content {
  display: none;
}

main div.forms > div .form-container .form-content .submit-btn.submit .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main div.forms > div .form-container .form-content .submit-btn.submit .loading img {
  position: absolute;
  width: 25px;
  -webkit-animation: loading-animation 0.7s cubic-bezier(0.45, 0.155, 0.7, 1) infinite;
          animation: loading-animation 0.7s cubic-bezier(0.45, 0.155, 0.7, 1) infinite;
}

main div.forms > div .form-container .form-content .submit-btn.submit .loading img:nth-child(2) {
  -webkit-animation-delay: 135ms;
          animation-delay: 135ms;
}

@-webkit-keyframes loading-animation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading-animation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

main div.forms > div .form-container .form-content .submit-btn::after {
  position: absolute;
  content: '';
  display: block;
  background: #fff3;
  width: 100%;
  height: 100%;
  left: -102%;
  pointer-events: none;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-transform: scale(102%);
          transform: scale(102%);
}

main div.forms > div .form-container .form-content .submit-btn.submit, main div.forms > div .form-container .form-content .submit-btn:hover, main div.forms > div .form-container .form-content .submit-btn:focus {
  -webkit-box-shadow: 3px -3px #37e5;
          box-shadow: 3px -3px #37e5;
}

main div.forms > div .form-container .form-content .submit-btn.submit::after, main div.forms > div .form-container .form-content .submit-btn:hover::after, main div.forms > div .form-container .form-content .submit-btn:focus::after {
  left: 0;
}

main div.forms > div.login {
  left: 0;
  opacity: 1;
}

main div.forms > div.login .circle {
  left: 0;
  border-radius: 0 100% 0 0;
  -webkit-box-shadow: -8px -5px 15px 15px var(--white-1);
          box-shadow: -8px -5px 15px 15px var(--white-1);
}

main div.forms > div.login .alternative {
  -webkit-transition: .5s ease 350ms;
  transition: .5s ease 350ms;
  right: 0;
  visibility: visible;
  opacity: 1;
}

main div.forms > div.register {
  left: -6%;
  opacity: 0;
}

main div.forms > div.register .form-container .form-content .input-box {
  width: 300px;
}

main div.forms > div.register .form-container .form-content .remember-me label a {
  cursor: pointer;
}

main div.forms > div.register .alternative {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  left: 6%;
  visibility: hidden;
  opacity: 0;
}

main div.forms > div.register .circle {
  right: -30vh;
  border-radius: 100% 0 0 0;
  -webkit-box-shadow: 8px -5px 15px 15px #eee;
          box-shadow: 8px -5px 15px 15px #eee;
}

main div.forms > div button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main div.cache {
  display: block;
  position: fixed;
  background: radial-gradient(circle at center, var(--primary-color) 0%, #fe8 85%);
  top: -100%;
  left: 48%;
  height: 200vh;
  width: 200vh;
  -webkit-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) all 0.7s;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) all 0.7s;
  border-radius: 50%;
  z-index: 1;
  -webkit-box-shadow: -25px 20px 10px #eee8;
          box-shadow: -25px 20px 10px #eee8;
}

main.active .forms .login .form-container {
  left: 6%;
  opacity: 0;
}

main.active .forms .login .alternative {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  right: 6%;
  visibility: hidden;
  opacity: 0;
}

main.active .forms .login .circle {
  left: -30vh;
}

main.active .forms .register {
  left: 0%;
  opacity: 1;
}

main.active .forms .register .circle {
  right: 0;
}

main.active .forms .register .alternative {
  -webkit-transition: .5s ease 350ms;
  transition: .5s ease 350ms;
  left: 0;
  visibility: visible;
  opacity: 1;
}

main.active .cache {
  left: -48%;
  -webkit-box-shadow: 25px 20px 10px #eee8;
          box-shadow: 25px 20px 10px #eee8;
}
/*# sourceMappingURL=login.css.map */