main {
  background: var(--white-1);
  min-width: 250px;
}
main .head {
  width: calc(100vw - 4em);
  padding: 0 2em;
}
main .head .title {
  padding: 1.5em;
}
main .head .title h1 {
  font-family: "SourceSansPro-SemiBold";
  font-size: 2.5rem;
}
main .head .title p {
  position: relative;
  top: 10px;
  font-family: "Poppins-Light";
  font-size: 0.8rem;
}
main .head .btn-new-website {
  padding-right: 2em;
}
main .head .btn-new-website button {
  padding: 6px 10px;
  border: 1px solid rgba(51, 51, 51, 0.2666666667);
  background: rgba(255, 255, 255, 0.9333333333);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(102, 102, 119, 0.0666666667), 0 0 5px rgba(187, 187, 187, 0.5333333333), inset 1px 1px 2px var(--white);
  cursor: pointer;
  transition: all 250ms;
}
main .head .btn-new-website button img {
  position: relative;
  top: 3px;
  margin-right: 2px;
  width: 20px;
  height: 20px;
  filter: invert(100%);
}
main .head .btn-new-website button:hover {
  border-color: #666;
  box-shadow: 0 0 5px rgba(187, 187, 187, 0.5333333333), inset 1px 1px 2px var(--white);
}
main .list-box {
  position: relative;
  margin: 3.5em 0;
  width: calc(100vw - 100px);
  background: var(--white-3);
  box-shadow: 4px 4px 10px 2px var(--grey-1);
}
main .list-box .list-infos {
  width: 300px;
  font-family: "SourceSansPro-SemiBold";
  font-size: 2rem;
}
main .list-box .list-main {
  position: relative;
  padding: 5px 0;
  background: var(--black-1);
  width: calc(100vw - 400px);
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}
main .list-box .list-main .website-element {
  width: calc(100% - 20px);
  min-height: 80px;
  margin: 5px 0 5px 10px;
  border: 2px solid var(--primary-color);
  background: #eee;
  border-radius: 5px;
  transition: all 0.3s;
  transform: none;
}
main .list-box .list-main .website-element .top {
  padding-left: 1em;
}
main .list-box .list-main .website-element .top h3 {
  font-size: 1.3rem;
  font-family: "SourceSansPro-SemiBold";
  font-weight: 900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main .list-box .list-main .website-element .top h3::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background: var(--black-3);
  opacity: 0;
  transition: all 0.4s;
  cursor: pointer;
}
main .list-box .list-main .website-element .bottom {
  padding-left: 0.5em;
  list-style: none;
}
main .list-box .list-main .website-element .bottom li {
  font-size: 0.8rem;
  padding: 8px;
  color: var(--grey-4);
  font-family: "Poppins-SemiBold";
}
main .list-box .list-main .website-element .bottom li span:not(.website-status) {
  position: relative;
  top: 1px;
  left: 1px;
  font-size: 12px;
  font-family: "Poppins-Regular";
}
main .list-box .list-main .website-element .bottom li span.website-status {
  margin: 0 4px 0 5px;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  background: #8d6;
}
main .list-box .list-main .website-element:last-child {
  border-bottom: 1px solid var(--primary-color);
}
main .list-box .list-main .website-element:hover {
  background: var(--white);
  transform: scale(101%);
}
main .list-box .list-main .website-element:hover .top h3::after {
  opacity: 95%;
}
main .list-box .list-main::-webkit-scrollbar-track {
  background: var(--black-1);
}
main .list-box .list-main::-webkit-scrollbar-thumb {
  border-color: var(--black-1);
}/*# sourceMappingURL=my-apps.css.map */