/* basic rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, b {
  font-weight: 500;
  font-family: 'SourceSansPro-Bold';
}

b i {
  font-weight: 500;
  font-family: 'SourceSansPro-BoldItalic';
}

a, button, input, textarea {
  outline: none;
}

:root {
  /* important colors */
  --primary-color: #ed7;
  --secondary-color: #37e;
  /* white */
  --white: #fff;
  --white-1: #eee;
  --white-2: #ddd;
  --white-3: #ccc;
  /* grey */
  --grey-1: #bbb;
  --grey-2: #aaa;
  --grey-3: #999;
  --grey-4: #888;
  --grey-5: #777;
  --grey-6: #666;
  --grey-7: #555;
  --grey-8: #444;
  /* black */
  --black-1: #333;
  --black-2: #222;
  --black-3: #111;
  --black: #000;
  /* others */
  --background-theme: var(--white-1);
}

svg:not(:root) {
  display: block;
}

::-webkit-scrollbar {
  background: var(--black-2);
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--grey-6);
  border-radius: 6px;
  border: 2px solid var(--black-2);
}

::-moz-selection {
  background: #888b;
}

::selection {
  background: #888b;
}

input[type="checkbox"] {
  cursor: pointer;
}

h1, h2, h3, h4, h5, p, a, span {
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

noscript {
  width: 100vw;
  height: 100vh;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: var(--black-2);
  font-family: 'SourceSansPro-Regular';
  color: var(--white-1);
}

/* basic rules end */
html, body {
  width: 100vw;
  height: 100vh;
}
/*# sourceMappingURL=styles.css.map */