/* basic rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video { box-sizing: inherit; }

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, b {
    font-weight: 500;
    font-family: 'SourceSansPro-Bold';
}

b i {
    font-weight: 500;
    font-family: 'SourceSansPro-BoldItalic';
}

a, button, input, textarea {
    outline: none;
}

:root {
    /* important colors */
    --primary-color: #ed7;
    --secondary-color: #37e;
    /* white */
    --white: #fff;
    --white-1: #eee;
    --white-2: #ddd;
    --white-3: #ccc;
    /* grey */
    --grey-1: #bbb;
    --grey-2: #aaa;
    --grey-3: #999;
    --grey-4: #888;
    --grey-5: #777;
    --grey-6: #666;
    --grey-7: #555;
    --grey-8: #444;
    /* black */
    --black-1: #333;
    --black-2: #222;
    --black-3: #111;
    --black: #000;
    /* others */
    --background-theme: #dddb;
}

svg:not(:root) { display: block; }

::-webkit-scrollbar {
    background: var(--black-2);
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--grey-6);
    border-radius: 6px;
    border: 2px solid var(--black-2);
}

::selection {
    background: #888b;
}

input[type="checkbox"] { cursor: pointer; }

h1, h2, h3, h4, h5, p, a, span {
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

noscript {
    width: 100vw;
    height: 100vh;
    position: static;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--black-2);
    font-family: 'SourceSansPro-Regular';
    color: var(--white-1);
}
/* basic rules end */

html, body {
    width: 100vw;
    height: 100vh;
}

/* Header */
header {
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    width: 100%;
    background: var(--black-1);
    position: fixed;
    top: 0;
    z-index: 6;
    justify-content: space-between;

    .title, .menu {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 1em;
    }

    .title {
        margin-left: 10px;
        text-decoration: none;
        color: unset;
        cursor: pointer;

        h2 {
            color: var(--white-1);
            font-size: 2.5rem;
            font-family: 'Poppins-Regular';
            pointer-events: none;

            &::after {
                content: '';
                display: block;
                cursor: pointer;
                position: relative;
                top: -3px;
                left: 0;
                width: 36px;
                height: 3px;
                background: #25d;
                border-radius: 2px;
                transition: all .6s ease;
            }
    
            > span {
                transition: all .6s ease;
    
                span {
                    color: #25d;
                    font-size: 3rem;
                    font-family: 'Poppins-Bold', 'SourceSansPro-Bold', sans-serif;
                }
            }
        }

        &:hover h2 {
            &::after {
                width: calc(50% + 5px);
            }

            > span {
                color: #25d;
            }
        }
    }

    .menu {
        .toggle-btn {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            cursor: pointer;
            outline: none;
            border: none;
            background: none;

            span {
                &, &::after, &::before {
                    pointer-events: none;
                    display: block;
                    width: 40px;
                    height: 5px;
                    border-radius: 3px;
                    background: var(--primary-color);
                    transition: all .4s ease;
                }
                
                &::after, &::before {
                    content: '';
                    position: absolute;
                }

                &::before { top: 8px }
                &::after { top: 36px }
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                background: var(--primary-color);
                opacity: 0;
                width: 0;
                height: 0;
                border-radius: 50%;
                transition: all .4s ease;
            }
            
            &:hover, &:focus {
                &::before {
                    opacity: 15%;
                    width: 80px;
                    height: 80px;
                }
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: center;

            li {
                position: relative;
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: var(--white-1);
                    padding: 10px 20px;
                    border: 1px solid var(--primary-color);
                    cursor: pointer;
                    font-family: 'Poppins-Light';
                    border-radius: 3px;
                    transition: all 250ms ease;
                    background: none;
                    outline: none;
                    // Editing a {LANG} file

                    &:hover {
                        background: var(--primary-color);
                        border-color: var(--black-1);
                        color: var(--black-1);
                    }
                }

                .select {
                    user-select: none;

                    select {
                        display: none;
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                    }

                    .select-selected {
                        display: inline-flex;
                        justify-content: space-evenly;
                        color: var(--white-1);
                        font-family: 'Poppins-Light';
                        border: 1px solid var(--primary-color);
                        border-radius: 3px;
                        transition: all 250ms ease;
                        background: none;
                        padding: 10px 10px;
                        cursor: pointer;

                        div {
                            pointer-events: none;
                            margin: 0 5px;

                            &.select-selected-content {
                                margin-left: 5px;
                            }
    
                            &.select-selector {
                                transform: rotate(270deg);
                                transition: all 250ms ease;
                            }
                        }

                        &:hover {
                            background: var(--primary-color);
                            border-color: var(--black-1);
                            color: var(--black-1);
                        }
                    }

                    .select-options {
                        display: none;
                        position: absolute;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;

                        div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            cursor: pointer;
                            font-family: 'Poppins-Light';
                            color: var(--white-1);
                            padding: 10px 0;
                            background: var(--black-1);
                            width: 100%;
                            transition: all 250ms ease;
                            border-right: 1px solid var(--primary-color);
                            border-left: 1px solid var(--primary-color);

                            &:hover {
                                background: var(--primary-color);
                                color: var(--black-1);
                            }

                            &:nth-last-child(1) {
                                border-bottom: 1px solid var(--primary-color);
                                border-radius: 0 0 3px 3px;
                            }
                        }
                    }

                    &.active {
                        .select-selected {
                            border-radius: 3px 3px 0 0;
                            border-bottom: none;
                            cursor: default;

                            .select-selector {
                                transform: rotate(90deg);
                            }

                            &:hover {
                                background: var(--black-1);
                                border-color: var(--primary-color);
                                color: var(--white-1);
                            }
                        }
                        
                        .select-options {
                            display: flex;
                        }
                    }
                }
            }
        }

        .cache {
            --menu-before-size: max(300vh, 300vw);
            position: fixed;
            display: block;
            top: calc(var(--menu-before-size) * -.5);
            right: calc(var(--menu-before-size) * -.5);
            width: 0;
            height: 0;
            background: var(--black-1);
            border-radius: var(--menu-before-size);
            transition: all 2s ease;
            z-index: -1;
        }
        
        &.active {
            .toggle-btn span {
                background: transparent;

                &::before {
                    transform: rotate(45deg);
                    top: 22px;
                }

                &::after {
                    transform: rotate(-45deg);
                    top: 22px;
                }
            }
            
            ul {
                display: flex;
            }
            
            .cache {
                width: var(--menu-before-size);
                height: var(--menu-before-size);
            }
        }

        @media screen and (max-width: 850px) {
            ul {
                display: none;
                position: absolute;
                top: 50vh;
                left: 50vw;
                transform: translate(-50%, -50%);

                li {
                    width: 10em;

                    a, .select {
                        background: #f00;
                        width: 100%;
                    }

                    &:nth-child(1) {
                        top: -10px;
                    }
                }
            }

            &.active ul {
                flex-direction: column;
                gap: 25px 0;
            }
        }
    }
}

.header-fix {
    display: block;
    width: 100%;
    height: 100px;
}

/* page laoder */
.loader-container {
    --loader-size: max(150vh, 150vw);

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
    top: 0;
    left: 0;

    .page-loader {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: var(--white-2);
        width: var(--loader-size);
        height: var(--loader-size);
        pointer-events: none;
    
        img {
            position: relative;
            width: 4em;
            filter: brightness(15%);
            
            &:nth-child(1) {
                top: 2em;
                animation: turn-animation .8s linear infinite;
            }
    
            &:nth-child(2) {
                top: -2em;
                animation: turn-animation .8s cubic-bezier(0.445, 0.10, 0.55, 0.90) 100ms infinite;
            }
        }
    }

    &.load .page-loader {
        animation: page-load 0s ease 1s infinite;
    }

    &:not(.load) .page-loader {
        animation: page-load 1.2s ease forwards;
    }
}

@keyframes page-load {
    from {
        top: calc(50% - (var(--loader-size) / 2));
        left: calc(50% - (var(--loader-size) / 2));
        width: var(--loader-size);
        height: var(--loader-size);
    }
    
    20% { opacity: 1 }
    
    to {
        width: 0;
        height: 0;
        top: 50vh;
        left: 50vw;
        opacity: 0;
        visibility: hidden;
        z-index: -100;
    }
}

@keyframes turn-animation {
    from { transform: rotate(0); }
    to { transform: rotate(360deg);}
}
