/* basic rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video { box-sizing: inherit; }

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, b {
    font-weight: 500;
    font-family: 'SourceSansPro-Bold';
}

b i {
    font-weight: 500;
    font-family: 'SourceSansPro-BoldItalic';
}

a, button, input, textarea {
    outline: none;
}

:root {
    /* important colors */
    --primary-color: #ed7;
    --secondary-color: #37e;
    /* white */
    --white: #fff;
    --white-1: #eee;
    --white-2: #ddd;
    --white-3: #ccc;
    /* grey */
    --grey-1: #bbb;
    --grey-2: #aaa;
    --grey-3: #999;
    --grey-4: #888;
    --grey-5: #777;
    --grey-6: #666;
    --grey-7: #555;
    --grey-8: #444;
    /* black */
    --black-1: #333;
    --black-2: #222;
    --black-3: #111;
    --black: #000;
    /* others */
    --background-theme: #dddb;
}

svg:not(:root) { display: block; }

::-webkit-scrollbar {
    background: var(--black-2);
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--grey-6);
    border-radius: 6px;
    border: 2px solid var(--black-2);
}

::selection {
    background: #888b;
}

input[type="checkbox"] { cursor: pointer; }

h1, h2, h3, h4, h5, p, a, span {
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

noscript {
    width: 100vw;
    height: 100vh;
    position: static;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--black-2);
    font-family: 'SourceSansPro-Regular';
    color: var(--white-1);
}
/* basic rules end */

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    overflow: hidden;

    /* Header */
    header {
        .container {
            height: 80px;
            width: 100%;
            background: var(--black-1);
            position: fixed;
            top: 0;
            z-index: 6;

            .title, .menu {
                height: 100%;
                align-items: center;
                padding: 0 1em;
            }

            .title {
                margin-left: 10px;
                text-decoration: none;
                color: unset;
                cursor: pointer;

                h2 {
                    color: var(--white-1);
                    font-size: 2rem;
                    font-family: 'Poppins-Regular';
                    pointer-events: none;

                    &::after {
                        content: '';
                        display: block;
                        cursor: pointer;
                        position: relative;
                        top: -3px;
                        left: 0;
                        width: calc(2rem - 4px);
                        height: 3px;
                        background: #25d;
                        border-radius: 2px;
                        transition: all .6s ease;
                    }

                    > span {
                        transition: all .6s ease;

                        span {
                            color: #25d;
                            font-size: 2.4rem;
                            font-family: 'Poppins-Bold', 'SourceSansPro-Bold', sans-serif;
                        }
                    }
                }

                &:hover h2 {
                    &::after {
                        width: calc(50% + 5px);
                    }

                    > span {
                        color: #25d;
                    }
                }
            }

            .menu {
                .menu-btn {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    background: none;

                    span {
                        &, &::before, &::after {
                            pointer-events: none;
                            display: block;
                            width: 40px;
                            height: 5px;
                            border-radius: 3px;
                            background: var(--primary-color);
                            transition: all .4s ease;
                        }
    
                        &::before, &::after {
                            content: '';
                            position: absolute;
                        }

                        &::before { top: 8px }
                        &::after { top: 36px }
                    }

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        background: var(--primary-color);
                        opacity: 0;
                        width: 0;
                        height: 0;
                        border-radius: 50%;
                        -webkit-transition: all .4s ease;
                        transition: all .4s ease;
                    }

                    &:hover::before, &:focus::before {
                        opacity: 15%;
                        width: 80px;
                        height: 80px;
                    }
                }

                .links {
                    ul {
                        list-style: none;

                        li {
                            margin: 0 10px;
                            color: var(--white-1);
                            font-family: "Poppins-Light";
                            min-width: 68px;

                            a {
                                text-align: center;
                                width: 100%;
                                height: 35px;
                                color: unset;
                                text-decoration: none;
                                border: 1px solid var(--primary-color);
                                cursor: pointer;
                                transition: all 250ms ease;
                                background: none;
                                outline: none;
                                border-radius: 3px;
                                padding: 0 10px;

                                &:hover {
                                    background: #efdf75f6;
                                    border-color: transparent;
                                    text-decoration: underline solid 1px;
                                }
                            }
                        }
                    }
                }

                .background {
                    --menu-bg-size: max(300vh, 300vw);
                    position: fixed;
                    top: calc(var(--menu-bg-size) * -.5);
                    right: calc(var(--menu-bg-size) * -.5);
                    width: 0;
                    height: 0;
                    background: var(--black-1);
                    border-radius: var(--menu-bg-size);
                    transition: all 1s ease-out;
                    z-index: -1;
                }
                
                @media screen and (max-width: 800px) {
                    .links {
                        display: none;
                        
                        ul li > a {
                            opacity: 0;
                            transition: all 1s;
                            transition-delay: 2s;
                        }
                    }

                    .menu-btn {
                        display: flex;
                    }
    
                    &.active {
                        .menu-btn span {
                            background: transparent;
            
                            &::before {
                                transform: rotate(45deg);
                                top: 22px;
                            }
            
                            &::after {
                                transform: rotate(-45deg);
                                top: 22px;
                            }
                        }
    
                        .links {
                            position: absolute;
                            display: flex;
                            top: 50vh;
                            left: 50vw;
                            transform: translate(-50%, -50%);
    
                            ul {
                                flex-direction: column;
                                min-width: 100px;
                                
                                li {
                                    display: initial;
                                    margin: 10px 0;
                                    min-width: 100px;
                                    width: 100%;
                                    
                                    a {
                                        text-align: center;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
    
                        .background {
                            width: var(--menu-bg-size);
                            height: var(--menu-bg-size);
                        }
                    }
                }
            }
        }

        .fix {height: 80px}
    }

    /* Footer */
    footer {
        width: 100%;
        background: var(--black-1);
        
        > div {
            height: 100%;
    
            &.container {
                padding: 20px 10px;
                flex-wrap: wrap;
                
                .sec {
                    padding: 10px 20px 40px;
                    min-width: 250px;
    
                    h3 {
                        font-family: "Poppins-Regular";
                        text-align: center;
                        margin-bottom: 20px;
                        font-weight: 500;
                        color: var(--white);
    
                        &::after {
                            content: '';
                            display: block;
                            width: 50px;
                            margin: 10px 100px;
                            height: 3px;
                            background: var(--primary-color);
                            transition: all 350ms;
                        }
                    }
    
                    .content {
                        list-style: none;
                        padding-left: 5px;
    
                        li {
                            font-family: "SourceSansPro-Light";
                            margin: 3px 0;
                            color: var(--white-1);
                            cursor: default;
                            user-select: none;
    
                            a {
                                position: relative;
                                width: fit-content;
                                font-size: 1.1rem;
                                text-decoration: none;
                                color: unset;
                                cursor: pointer;
                                
                                &::after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    width: 100%;
                                    height: 1px;
                                    background: #fff0;
                                    transition: all .4s;
                                    left: 0;
                                }
    
                                &:hover::after {
                                    background: var(--white-1);
                                }
                            }
                        }
                    }
    
                    &:hover h3::after {
                        margin: 10px 35px;
                        width: 180px;
                        border-radius: 2px;
                    }
                }
    
                .border {
                    height: 8em;
                    width: 1px;
                    background: var(--white);
                    opacity: .3;
                }
            }
    
            &.copyright {
                text-align: center;
                color: var(--white);
    
                p {
                    line-height: 1.2rem;
                    padding: 10px 20px;
                    font-family: "Poppins-Light";
                }
            }
        }

        @media screen and (max-width: 900px) {
            .container .border {
                display: none !important;
            }
        }
    }
    
    /* page laoder */
    .loader-container {
        --loader-size: max(150vh, 150vw);
    
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1000;
        top: 0;
        left: 0;
    
        .page-loader {
            position: absolute;
            border-radius: 50%;
            background: var(--white-2);
            top: calc(50% - (var(--loader-size) / 2));
            left: calc(50% - (var(--loader-size) / 2));
            width: var(--loader-size);
            height: var(--loader-size);
            opacity: 1;
            visibility: visible;
            z-index: 1000;
            pointer-events: none;
            transition: all 1s;
        
            img {
                position: relative;
                width: 4em;
                filter: brightness(15%);
                
                &:nth-child(1) {
                    top: 2em;
                    animation: turn-animation .8s linear infinite;
                }
        
                &:nth-child(2) {
                    top: -2em;
                    animation: turn-animation .8s cubic-bezier(0.445, 0.10, 0.55, 0.90) 100ms infinite;
                }
            }
        }
    }

    &.loaded {
        overflow: initial;

        .loader-container {
            z-index: -1;

            .page-loader {
                top: 50vh;
                left: 50vw;
                width: 0;
                height: 0;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
            }
        }
    }
}

@keyframes turn-animation {
    from { transform: rotate(0); }
    to { transform: rotate(360deg);}
}
